# EasyRPG
assets/easyrpg-player.elf

# Games
games/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# OSX
*.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignore virtual environment files
.venv
